@model KRU.Models.Objects

@{
    ViewData["Title"] = "Edit";
}
<div class="card box-shadow card-simple-form card-small">
    <h1>Edit</h1>

    <h4>Objects</h4>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <form class="kru custom-validation" asp-action="Edit">
                <div class="kru-form-container-small">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="ObjectId" />
                    <div class="form-group">
                        <label asp-for="ObjectName" class="control-label"></label>
                        <input asp-for="ObjectName" class="form-control" />
                        <span asp-validation-for="ObjectName" class="text-danger"></span>
                        <span class="invalid-feedback"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="AddressId" class="control-label"></label>
                        <select asp-for="AddressId" class="form-control" asp-items="ViewBag.AddressId"></select>
                        <span asp-validation-for="AddressId" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-button-container">
                    <a class="btn btn-outline-primary mr-3 no-outline" asp-action="Index">
                        <i class="fas fa-arrow-left mr-2" ></i>Back to List
                    </a>
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
