@model KRU.Models.Report

@{
    ViewData["Title"] = "Edit";
}
<div class="card box-shadow card-simple-form card-small">
    <h1>Таҳрирлаш</h1>

    <h4>Кундалик ҳисобот</h4>
    <hr />
    <div class="row">
        <div class="col-12">
            <form id="app" class="kru custom-validation" asp-action="Edit">
                <div class="kru-form-container-small status-kru">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="ReportId" />
                    <input type="hidden" asp-for="ManagerId" />
                    <input type="hidden" asp-for="EmployeeId" />
                    <input type="hidden" asp-for="ReportDate" />
                    <input type="hidden" asp-for="ReportComment" />
                    <input type="hidden" asp-for="ReportScore" />
                    <div class="form-group">
                        <label class="control-label">Ҳолат</label>
                        <select id="status" asp-for="State" class="form-control">
                            <option selected disabled>Ҳолатни танланг</option>
                            <option value="8">На работе</option>
                            <option value="7">День до праздника (7)</option>
                            <option value="К">Командировка</option>
                            <option value="У">На Учебе</option>
                            <option value="Уд">Удаленка</option>
                            <option value="О">Отпуск</option>
                            <option value="Б">Больничный</option>
                            <option value="Пр">Праздник</option>
                            <option value="б/с">Отпуск без сохранения заработной платы</option>
                        </select>
                        <span asp-validation-for="State" class="text-danger"></span>
                    </div>
                    <div id="parentAddress" class="form-group">
                        <label class="control-label">Адрес</label>
                        <select asp-for="AddressId" id="address" onchange="javascript: $('#submit').click();" class="select2 form-control" asp-items="ViewBag.AddressId"></select>
                        <span asp-validation-for="AddressId" class="text-danger"></span>
                    </div>
                    <div id="object" class="form-group">
                        <label class="control-label">Объект</label>
                        <select asp-for="ObjectId" id="object1" class="select2 form-control" asp-items="ViewBag.ObjectId"></select>
                        <span asp-validation-for="ObjectId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Тавсиф</label>
                        <input asp-for="ReportDescription" class="form-control" />
                        <span asp-validation-for="ReportDescription" class="text-danger"></span>
                    </div>
                    @*<div class="form-group">
                    <label asp-for="ReportDate" class="control-label"></label>
                    <input asp-for="ReportDate" class="form-control" />
                    <span asp-validation-for="ReportDate" class="text-danger"></span>
                    </div>*@

                        @*<div class="form-group">
                        <label asp-for="ReportComment" class="control-label"></label>
                        <input asp-for="ReportComment" class="form-control" />
                        <span asp-validation-for="ReportComment" class="text-danger"></span>
                    </div>*@
                        @*<div class="form-group">
                        <label asp-for="ReportScore" class="control-label"></label>
                        <input asp-for="ReportScore" class="form-control" />
                        <span asp-validation-for="ReportScore" class="text-danger"></span>
                    </div>*@
                        <div id="parentTask" class="form-group">
                            <label class="control-label">Вазифа</label>
                            <select name="ListofTasks" asp-for="selectedTasks" class="select2" multiple="multiple" data-placeholder="Топшириқларни танланг" style="width:100%;" asp-items="ViewBag.TaskId"></select>
                            <span asp-validation-for="TaskId" class="text-danger"></span>
                        </div>
                </div>
                <div class="form-button-container">
                    <a class="btn btn-outline-primary mr-3 no-outline" asp-action="Index">
                        <i class="fas fa-arrow-left mr-2"></i>Ортга қайтиш
                    </a>
                    <button id="submit" type="submit" name="submit" value="Submit" asp-action="EditAfterAddress" asp-route-id="@Model.ReportId" hidden></button>
                    <input type="submit" value="Сақлаш" asp-controller="Reports" asp-action="Edit" asp-route-id="@Model.ReportId" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}