@page
@model ResetAuthenticatorModel
@{
    ViewData["Title"] = "Аутентификатор калитини тиклаш";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h4>@ViewData["Title"]</h4>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>Агар аутентификатор калитини қайта тикласангиз, аутентификатор иловаси уни қайта созламагунингизча ишламайди.</strong>
    </p>
    <p>
        Ушбу жараён аутентификатор дастурини текширгунингизча 2ФА-ни ўчириб қўяди.
        Агар сиз аутентификатор дастурининг конфигурациясини тўлдирмасангиз, ҳисобингизга кириш ҳуқуқини ёъқотишингиз мумкин.
    </p>
</div>
<div>
    <form id="reset-authenticator-form" method="post" class="form-group">
        <button id="reset-authenticator-button" class="btn btn-danger" type="submit">Аутентификатор калитини тиклаш</button>
    </form>
</div>