@page
@model LoginModel

@{
Layout = null;
ViewData["Title"] = "Авторизация";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"] - KRU</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/theme/plugins/fontawesome-free/css/all.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="/theme/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/theme/dist/css/adminlte.min.css">

    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="hold-transition login-page">

<div class="login-box">
    <div class="kru-logo">
        <img width="150" alt="UNG-Logo" src="/images/logo.png"/>
        Комплаенс назорат дастури
    </div>
    <!-- /.login-logo -->
    <div class="card">
        <div class="card-body login-card-body">
            <p class="login-box-msg">@ViewData["Title"]</p>

            <form autocomplete="off" novalidate="true" class="kru custom-validation" id="kru-login-form" method="post">
                <div class="mb-3 form-group">
                    <div class="input-group">
                        <input asp-for="Input.Email" type="email" class="form-control"
                               placeholder="Адрес электронной почты">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <span class="invalid-feedback"></span>
                    <!--            <span asp-validation-for="Input.Email" class="text-danger"></span>-->
                </div>

                <div class="mb-3 form-group">
                    <div class="input-group">
                        <input asp-for="Input.Password" type="password" class="form-control" placeholder="Пароль">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <span class="invalid-feedback"></span>
                    <!--            <span asp-validation-for="Input.Password" class="text-danger"></span>-->
                </div>

                <div class="row">
                    <div class="col-8">
                        <div class="icheck-primary">
                            <input asp-for="Input.RememberMe" type="checkbox" id="remember">
                            @* @Html.DisplayNameFor(m => m.Input.RememberMe) *@
                            <label asp-for="Input.RememberMe" for="remember">
                                Remember Me
                            </label>
                        </div>

                    </div>
                    <!-- /.col -->
                    <div class="col-4">
                        <button type="submit" class="btn btn-primary btn-block">Войти</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>
            @*<p class="mb-1">
            <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
        </p>
            <p class="mb-0">
                <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
            </p>*@
        </div>
        <!-- /.login-card-body -->
    </div>
</div>
<!-- jQuery -->
<script src="/theme/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="/theme/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="/theme/dist/js/adminlte.min.js"></script>
<script src="~/js/validate.js"></script>
<script>
    $(document).ready(function () {
        validateForms();
    });
</script>
</body>
@section Scripts {
<partial name="_ValidationScriptsPartial"/>
}
