@model KRU.Models.Tasks
@*@using KRU.Models*@
@{
ViewData["Title"] = "Create";
ViewData["FileType"] = "";
}

<h1>Create</h1>

<h4>Tasks</h4>
<hr/>
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create" class="kru-form">
            <div class="kru-form-container">
                <div>
                    <label>Название задачи</label>
                    <input asp-for="TaskName" class="form-control" />
                    <span asp-validation-for="TaskName" class="text-danger"></span>
                </div>
                <div>
                    <label>Начало поручения</label>
                    <input asp-for="TaskStarted" class="form-control" />
                    <span asp-validation-for="TaskStarted" class="text-danger"></span>
                </div>
                <div>
                    <label>Дедлайн поручения</label>
                    <input asp-for="TaskEnd" class="form-control" />
                    <span asp-validation-for="TaskEnd" class="text-danger"></span>
                </div>
                @*
        <div>
            <label asp-for="DepartmentId" class="control-label"></label>
            <select asp-for="DepartmentId" class="form-control" asp-items="ViewBag.DepartmentId"></select>
        </div>
                *@
                <div>
                    <label>Вид документа</label>
                    <select asp-for="TaskTypeId" class="form-control" asp-items="ViewBag.TaskTypeId"></select>
                </div>
            </div>
            <label>Добавить файлы</label>
            <div class="flex-container">
                <div class="switch_container">
                    <label class="switch">
                        <input type="checkbox" id="clickFile">
                        <span class="slider round"></span>
                    </label>
                </div>
                <div id="fileSelect" class="form-group display-none">
                    <select id="ListFile" name="ListofFiles" asp-items="ViewBag.File" asp-for="File"
                            data-placeholder="Выберите файлы" class="select2 multiple-select" multiple="multiple"
                            data-placeholder="Select a State" style="width: 100%;">
                    </select>
                    <span asp-validation-for="File" class="text-danger"></span>
                </div>
            </div>
            <div class="form-button-container">
                <a class="btn btn-outline-primary" asp-action="Index">
                    <i class="fas fa-arrow-left mr-2" ></i>Back to List
                </a>
                <input type="submit" id="btnSave" value="Create" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>


@section Scripts {

<script type="text/javascript">
    //Initialize Select2 Elements
    $(document).ready(function () {
        $('.select2').select2()
        $('#clickFile').click(function () {
            $('#fileSelect').css('display', 'none');
        }, function () {
            $('#fileSelect').css('display', 'inline');
        });

        $("#btnSave").click(function () {
            SaveSelectedFiles();
        });

        $("#clickFile").click(function () {
            if($(this).prop('checked')){
                $("#fileSelect").css({display: 'inline'});
            } else{
                $("#fileSelect").css({display: 'none'});
            }
        });
        //function SaveSelectedFiles() {
        //    var fileList = "";
        //    var ListOfFiles = []
        //    $.each($("#ListFile option:selected"),
        //        function (index, data) {
        //            //fileList += $(this).val() + " " + $(this).text() + "\n";
        //            ListOfFiles.push($(this).val());
        //            console.log(ListOfFiles);
        //        });
        //    console.log(ListOfFiles);
        //    $.ajax({
        //        async: true,
        //        type: 'POST',
        //        dataType: 'json',
        //        url: '/Manager/Tasks/Create',
        //        traditional: true,
        //        contentType: 'application/json; charset=utf-8',
        //        data: JSON.stringify({ ListOfFiles: ListOfFiles }),
        //        success: function (data) {
        //            if (data.success === true) {
        //                alert(data.message);
        //            }
        //            },
        //        error: function () {
        //            alert('Error');
        //        }
        //    })
        //}

    });


</script>
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


