@model KRU.Models.Task_Type

@{
    ViewData["Title"] = "Delete";
}
<div class="card box-shadow card-simple-form card-small">
    <h1>Ўчириш</h1>

    <h3>Ҳақиқатан ҳам ўчиришни хоҳлайсизми?</h3>
<div>
    <h4>Тур</h4>

    <table class="table table-hover">
        <tbody>
            <tr>
                <td> Тур номи</td>
                <td> @Html.DisplayFor(model => model.NameType)</td>
            </tr>
        </tbody>
    </table>
    <form asp-action="Delete">
        <div class="form-button-container">
            <input type="hidden" asp-for="TaskTypeID" />
            <a class="btn btn-outline-primary mr-3 no-outline" asp-action="Index">
                <i class="fas fa-arrow-left mr-2"></i>Ортга қайтиш
            </a>
            <input type="submit" value="Ўчириш" class="btn btn-outline-danger kru-table-button" />
        </div>
    </form>
</div>
</div>