@model KRU.Models.Task_Type

@{
    ViewData["Title"] = "Details";
}
<div class="card box-shadow card-simple-form card-small">
    <h1>Тафсилотлар</h1>

    <div>
        <h4>Тур</h4>
       
        <table class="table table-hover">
            <tbody>
                <tr>
                    <td> Тур номи</td>
                    <td> @Html.DisplayFor(model => model.NameType)</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="form-button-container">
        <a class="btn btn-outline-primary mr-3 no-outline" asp-action="Index">
            <i class="fas fa-arrow-left mr-2" ></i>Ортга қайтиш
        </a>
        <a title="Edit" class="btn btn-outline-success kru-table-button" asp-action="Edit" asp-route-id="@Model.TaskTypeID">Таҳрирлаш</a>
    </div>
</div>