@model KRU.Models.Plan

@{
    ViewData["Title"] = "Edit";
}
<div class="card box-shadow card-simple-form card-small">
    <h1>Таҳрирлаш</h1>
    <h4>План</h4>
    <hr />
    <div class="row">
        <div class="col-12">
            <form class="kru custom-validation" id="app" asp-action="Edit">
                <div class="kru-form-container-small status-kru">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="PlanId" />
                    <input type="hidden" asp-for="ManagerId" />
                    <input type="hidden" asp-for="EmployeeId" />
                    <div class="form-group">
                        <label asp-for="PlanStart" class="control-label">Бошланиш санаси</label>
                        <input asp-for="PlanStart" class="form-control" />
                        <span asp-validation-for="PlanStart" class="text-danger"></span>
                        <span class="invalid-feedback"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PlanEnd" class="control-label">Тугаш санаси</label>
                        <input asp-for="PlanEnd" class="form-control" />
                        <span asp-validation-for="PlanEnd" class="text-danger"></span>
                        <span class="invalid-feedback"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Ҳолат</label>
                        <select id="status" asp-for="State" class="form-control">
                            <option selected disabled>Ҳолатни танланг</option>
                            <option value="8">На работе</option>
                            <option value="7">День до праздника (7)</option>
                            <option value="К">Командировка</option>
                            <option value="У">На Учебе</option>
                            <option value="Уд">Удаленка</option>
                            <option value="О">Отпуск</option>
                            <option value="Б">Больничный</option>
                            <option value="Пр">Праздник</option>
                            <option value="б/с">Отпуск без сохранения заработной платы</option>
                        </select>
                        <span asp-validation-for="State" class="text-danger"></span>
                    </div>
                    <div id="parentAddress" class="form-group">
                        <label asp-for="AddressId" class="control-label">Адрес</label>
                        <select id="address" onchange="javascript: $('#submit').click();" asp-for="AddressId" class="select2 form-control" asp-items="ViewBag.AddressId"></select>
                        <span asp-validation-for="AddressId" class="text-danger"></span>
                    </div>
                    <div id="object" class="form-group">
                        <label asp-for="ObjectId" class="control-label">Объект</label>
                        <select asp-for="ObjectId" id="object1" class="select2 form-control" asp-items="ViewBag.ObjectId"></select>
                        <span asp-validation-for="ObjectId" class="text-danger"></span>
                    </div>
                    <div id="parentTask" class="form-group">
                        <label asp-for="TaskId" class="control-label">Вазифа</label>
                        <select asp-for="TaskId" class="select2 form-control" asp-items="ViewBag.TaskId"></select>
                        <span asp-validation-for="TaskId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PlanDescription" class="control-label">Тавсиф</label>
                        <input asp-for="PlanDescription" class="form-control" />
                        <span asp-validation-for="PlanDescription" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-button-container">
                    <a class="btn btn-outline-primary mr-3 no-outline" asp-action="Index">
                        <i class="fas fa-arrow-left mr-2" ></i>Ортга қайтиш
                    </a>
                    <button id="submit" type="submit" name="submit" value="Submit" asp-action="EditAfterAddress" asp-route-id="@Model.PlanId" hidden></button>
                    <input type="submit" value="Сақлаш" asp-controller="Plans" asp-action="Edit" asp-route-id="@Model.PlanId" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}